body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.game {
    position: relative;
    width: 600px;
    height: 200px;
    border: 2px solid #000;
    overflow: hidden;
    background-color: #fff;
}

.player {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-image: url('juze.png'); /* Substitua 'sua-imagem.png' pela sua imagem */
    background-size: cover;
}

.obstacle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background-color: #000;
    animation: moveObstacle 2s infinite linear;
}

@keyframes moveObstacle {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

.player.jump {
    animation: jump 0.5s ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 100px; /* Altura do pulo */
    }
    100% {
        bottom: 0;
    }
}
